.containerPrincipal__home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  position: relative;
}
.containerimg__home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  position: relative;
}
.containerimg__home img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.text__home {
  position: absolute;
  color: #000;
  font-size: 1vh;
}

.containerCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-radius: 0.4rem;
  max-height: 80%;
  background-color: #f2f2f2;
  border-radius: 0.4rem;
  overflow-y: auto;
}
.containerCardsCategories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vh;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 90%;
}
