.containerPincipalCarrousel__carrousel {
  width: 70vw;
  height: 30vh;
  margin-bottom: 5vh;
}
.containerImg__carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 30vh;
}
.img__carrousel {
  width: 70vw;
  height: 30vh;
  object-fit: contain;
  filter: drop-shadow(0 -6mm 4mm rgb(0, 0, 0, 0.3));
}
