.containerPincipalCarrousel__carrousel {
  width: 90vw;
  height: 55vh;
  position: relative;
}
.containerImg__carrousel {
  width: 100%;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img__carrousel {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 -6mm 4mm rgb(0, 0, 0, 0.3));
}
